{
  "extends": "airbnb",
  "globals": {
    "browser": true,
    "window": true,
    "document": true,
    "fetch": true,
    "FormData": true
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "arrow-parens": ["off"],
    "camelcase": ["off"],
    "comma-dangle": ["error", {"functions": "ignore"}],
    "eol-last": ["off"],
    "func-names": ["error", "never"],
    "function-paren-newline": ["error", "consistent"],
    "import/no-mutable-exports": ["warn"],
    "import/prefer-default-export": ["off"],
    "import/extensions": ["off"],
    "import/no-unresolved": ["off"],
    "implicit-arrow-linebreak": ["off"],
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "linebreak-style": ["off"],
    "max-classes-per-file": ["off"],
    "no-case-declarations": ["off"],
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-debugger": ["off"],
    "no-undef": ["off"],
    "no-else-return": ["off"],
    "no-lonely-if": ["off"],
    "no-nested-ternary": [0],
    "no-param-reassign": ["warn"],
    "no-plusplus": ["warn"],
    "no-redeclare": ["off"],
    "no-return-assign": ["off"],
    "no-shadow": ["warn"],
    "no-tabs": ["off"],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-underscore-dangle": ["warn"],
    "no-unneeded-ternary": ["warn"],
    "no-unused-expressions": ["off"],
    "no-unused-vars": ["off"],
    "no-use-before-define": ["warn"],
    "object-shorthand": ["warn"],
    "one-var": ["warn"],
    "prefer-promise-reject-errors": ["warn"],
    "prefer-template": ["warn"],
    "prefer-object-spread": ["warn"],
    "wrap-iife": [2, "any"]
  }
}
