@import '../../styles/theme';

@mixin btn{
  width: 280px;
  height: 37px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  margin: 14px 0 ;
  cursor: pointer;
}

.btn-primary{
  @include btn;
  background: $primary;
  color: $text-color-light;
}
.btn-secondary{
  @include btn;
  background: $primary-light;
  color: $text-color-light;
}
.btn-warning{
  @include btn;
  background: $warning;
  color: $text-color-light;
}
.btn-small{
  width: 140px;
}