@import '../../styles/theme';

@mixin icon {
  height: 22px;
  width: 22px;
  margin-right: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.chat{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  &-tooltip {
    width: 260px;
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
    background: $background-color-primary;
    box-shadow: 0px 0px 6px $black-transparent-14;
    border-radius: 12px;
    padding: 7px 15px;
  }
  &-tooltip-show{
    display: block;
  }
  &-tooltip__list{
  }
  &-tooltip__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 8px 0;
    & > div{
      display: flex;
    }
    & span{
      display: flex;
    }
  }
  &-tooltip__item-warning{
    color: $warning;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 8px 0;
  }
  &-tooltip__item span:first-of-type{
    margin-right: 10px;
  }
  &-list{
    width: 310px;
    height: 100vh;
    background-color: $background-color;
    border-right: 1px solid $border-color;
    &__head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-style: normal;
      font-weight: 500;
      height: 54px;
      font-size: 14px;
      line-height: 14px;
      color: $text-color-secondary;
      align-content: center;
      align-items: center;
      padding: 0 10px;
    }
    &__head__logo{
      background: url('../images/logo.svg') no-repeat;
      background-size: cover;
      width: 30px;
      height: 30px;
    }
    &__head__add-chat{
      background: url('../images/create.svg') no-repeat 0 50%;
      padding-left: 30px;
      align-items: center;
      display: flex;
      height: 30px;
      cursor: pointer;
    }
    &__head__profile{
      background: url('../images/arr-right.svg') no-repeat 100% 50%;
      cursor: pointer;
      padding-right: 20px;
    }
    &__search {
      padding: 0 10px 10px;
      border-bottom: 1px solid $border-color;
    }
    &__search__input{
      width: calc(100% - 20px);
      padding: 0 10px;
      height: 32px;
      background: $input-color;
      border-radius: 5px;
      border: none;
      color: $text-color-secondary;
      &:focus{
        outline: $black-transparent-14;
      };
    }
    &__content {
      padding: 0 10px 10px;
      height: calc(100vh - 90px);
      overflow-y: scroll;
    }
      &__content__item {
        display: flex;
        flex-direction: row;
        height: 70px;
        flex-wrap: nowrap;
        overflow: hidden;
        border-bottom: 1px solid $border-color;
        align-items: center;
      }
    &__content__item__avatar{
      display: block;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      background-color: $background-color-secondary;
      margin-right: 10px;
    }
    &__content__item__text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      height: calc(100% - 20px);
    }
    &__content__item__text__name{
      font-weight: 600;
      font-size: 15px;
      line-height: 13px;
      color: $text-color-primary;
    }
    &__content__item__text__message{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
      color: $text-color-secondary;
      flex-direction: row;
      &-user{
        &:after{
          content: ': ';
          display: inline-block;
        }
        display: inline-block;
        margin-right: 10px;
        color: $text-color-primary;
      }
      &-content{

      }
    }
    &__content__item__text__status {
      display: flex;
      flex-direction: column;
      width: 48px;
      justify-content: space-between;
      height: calc(100% - 20px);
      align-items: center;
      padding: 10px 0;
      & .date{
        font-size: 10px;
      }
      & .count{
        background-color: $primary;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        color: $text-color-light;
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-content: center;
        font-size: 12px;
      }
    }
  }
  &-content{
    flex-grow: 1;
    max-width: calc(100vw - 350px);
    padding: 0 20px;
    &__chat {
      width: 100%;
      height: calc(100vh - 138px);
      min-height: calc(100vh - 138px);
      padding: 15px 0;
      margin: 0 auto;
      overflow-y: scroll;
      background-color: $background-color-primary;
      &__head {
        height: 54px;
        justify-content: space-between;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        border-bottom: 1px solid $border-color;
      }
      &__head__info{
        align-content: center;
        align-items: center;
        flex-direction: row;
        display: flex;
        flex-wrap: nowrap;
      }
      &__head__actions__wrapper{
        position: relative;
      }
      &__head__actions{
        background: url('../images/actions.svg') no-repeat;
        height: 25px;
        width: 25px;
        cursor: pointer;
      }
      &__head__avatar{
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-color: $background-color-secondary;
        margin-right: 10px;
      }
      &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
      }
      &__message {
        font-size: 14px;
        padding: 10px 20px;
        border-radius: 8px 8px 8px 0;
        color: $text-color-primary;
        background: $background-color-secondary;
        max-width: 600px;
        width: fit-content;
        position: relative;
        margin: 15px 0;
        word-break: break-all;
        //direction: rtl;
      }
      &__message-own {
        direction: ltr;
        margin-left: auto;
        border-radius: 8px 8px 0 8px;
        background: rgba(255, 200, 87, 0.5);
      }
    }

    &__form {
      border-top: 1px solid $border-color;
      &__form {
        display: flex;
        align-items: center;
        align-content: center;
        height: 54px;
        flex-wrap: nowrap;
      }
      &__label {
        background: url('../images/upload.svg');
        height: 32px;
        width: 32px;
        cursor: pointer;
        position: relative;
      }
      &__label__input-file{
        opacity: 0;
        height: 32px;
        width: 32px;
        position: absolute;
        top: 0;
        left: 0;
      }

      &__input {
        flex-grow: 1;
        background: $background-color-secondary;
        border-radius: 30px;
        height: 32px;
        font-size: 14px;
        padding-left: 15px;
        border: none;
        margin: 0 10px;
        &:focus{
          outline: $input-border-outline;
        }
      }
      &__button-send {
        width: 28px;
        height: 29px;
        background: url('../images/next.svg');
        border: none;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}