mixin chatPerson(data)
    div.chat-list__content__item
        div.chat-list__content__item__avatar
        div.chat-list__content__item__text
            div.chat-list__content__item__text__name=data.name
            div.chat-list__content__item__text__message=data.message



div.layout
    div.chat
        div.chat-list
            div.chat-list__head
                div.chat-list__head__add-chat
                div.chat-list__heade__logo
                    img(src="./../../../static/images/logo.svg")
                div.chat-list__head__profile(onclick="window.location.href='profile.html'") Профиль
            div.chat-list__content
                +chatPerson({name: "Вася", message: "Привет"})
                +chatPerson({name: "Катя", message: "Пока"})
                +chatPerson({name: "Женя", message: "Йохохо"})
                +chatPerson({name: "Капитан Воробей", message: "и бутылка рому"})
                +chatPerson({name: "Киноклуб", message: "закрыт"})
                +chatPerson({name: "Мемасики", message: "открыт"})
                +chatPerson({name: "Вася", message: "Привет"})
                +chatPerson({name: "Вася", message: "Привет"})


        div.chat-content
            div.chat-content__chat
                div.chat-content__chat__wrapper
                    div.chat-content__chat__message
                        div.date
                        div Message1
                    div.chat-content__chat__message
                        div.date
                        div Message2
            div.chat-content__form
                form(id="chat-content__form")
            input(type="text" name="message")
