$primary: #084C61;
$primary-light: #177E89;

$background-color: #FBFBFB;
$background-color-secondary: #EFEFEF;

$text-color-primary: #1E1E1E;
$text-color-secondary: #999999;
$text-color-light: #FFFFFF;

$border-color: #EAEAEA;
$input-color: #EFEFEF;
$link-color: #323031;

$background-color-primary: #FFFFFF;

$input-border: #323031;
$input-border-focus: #719ECE;
$input-border-outline: #323031;
$warning: #DB3A34;

$black-transparent-14:rgba(0, 0, 0, 0.14);

