@import '../../styles/theme';
.icon{
  &-add{
    @include icon;
    background-image: url('../images/icons/add.svg');
  }
  &-remove{
    @include icon;
    background-image: url('../images/icons/delete.svg');
  }
  &-change-avatar{
    @include icon;
    background-image: url('../images/icons/avatar.svg');
  }
  &-trash{
    @include icon;
    background-image: url('../images/icons/trash.svg');
  }
  &-upload-photo{
    @include icon;
    background-image: url('../images/icons/photo.svg');
  }
  &-upload-file{
    @include icon;
    background-image: url('../images/icons/file.svg');
  }
  &-share-location{
    @include icon;
    background-image: url('../images/icons/location.svg');
  }
}
