html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
        link(rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png")
        link(rel='stylesheet', href='../styles/index.scss')
        title OWL Chat
    body
        block content