extends ../src/components/layout.pug
block content
    div.layout
            div.main
                ul.main-ul
                    li
                        a(class='button' href='5**.pug') 5**
                    li
                        a(class='button' href='404.pug') 404
                    li
                        a(class='button' href='login.pug') Login
                    li
                        a(class='button' href='registration.pug') Registration
                    li
                        a(class='button' href='profile.pug') Profile
                    li
                        a(class='button' href='edit-profile.pug') Edit Profile
                    li
                        a(class='button' href='change-password.pug') Change Password
                    li
                        a(class='button' href='chat.pug') Chat
                img(src="./images/owl.svg")
