include ../../components/button/button.pug
div.layout
    div.error-page
        div
            div.error-page__image
                img(src="../../../static/images/404.svg")
            h3.error-page__title 404
            p.error-page__message Не туда попали

        div.error-page__button
            +buttonForm({
                className: "btn-primary",
                text: "Назад к чатам",
                type: "button",
                onclick: "window.location.href='chat.html'"
            })
