include ../../../components/button/button.pug
include ../components/profile-edit-line.pug
include ../components/profile-link.pug

div.layout
    div.sidebar
        div.back-link(onclick="window.location.href='chat.html'")
    div.profile-form
        div
            div.profile-form__avatar
                img(src="../../../../static/images/no_photo.svg")
            +profileEditLine({
                title: "Старый пароль",
                value: "",
                name: "oldPassword",
                type: "password"
            })
            +profileEditLine({
                title: "Новый пароль",
                value: "",
                name: "newPassword",
                type: "password"
            })
            +profileEditLine({
                title: "Повторите новый пароль",
                value: "",
                name: "retype_newPassword",
                type: "password"
            })
        div.profile-form__button
            +buttonForm({
                className: "btn-primary",
                text: "Сохранить",
                type: "button",
                onclick: "window.location.href='profile.html'"
            })