mixin chatPerson(data)
    div.chat-list__content__item
        div.chat-list__content__item__avatar
        div.chat-list__content__item__text
            div.chat-list__content__item__text__name=data.name
            div.chat-list__content__item__text__message=data.message